<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina4</title>
</head>
<body>
    <h1>aqui na pagina 4</h1>
    <p>aqui voce pode:</p>
    seguir com o curso de flask
    <br>
    <a href="https://www.youtube.com/watch?v=IPeACm7Se9w&list=PL5QK1VkAg_cOC4zQc5Yg1hHDaRfp5LkKs">clique aqui</a>
    <br>
    <p>ou você pode começar pygame</p>
    <a href="https://www.youtube.com/watch?v=BT2cjrxGpWo&list=PLJ8PYFcmwFOxtJS4EZTGEPxMEo4YdbxdQ">clique aqui</a>
    <style>
    body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    }
    </style>
    
</body>
</html>